/* Kontakt + Footer opgave */
.sitefooter {
    background-color:var(--primary-color);  
    height: 200px;
    width: 100%;
    padding-top: 40px;
    display: grid;
    grid-template-columns: 220px 130px 130px 130px 130px 130px 130px 130px 130px;
    gap: 30px;
    flex-wrap: wrap;
}


.sitefooter > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sitefooter > div > small {
    margin: 0;
}

.sitefooter > img {
    grid-column: 9 / 11;
    width: 300px;
    display: block;
    right: 0;
    object-fit: cover;
}

.adresse {
    grid-area: 1 / 2 / 2 / 3 ;
}

.tlfnmr {
    grid-area: 1 / 3 / 2 / 4;
}

.services {
    grid-area: 1 / 4 / 2 / 5;
}

.contactus {
    grid-area: 1 / 5 / 2 / 6;
}

.information {
    grid-area: 1 / 6 / 2 / 7;
}

.adobexd {
    grid-area: 1 / 7 / 2 / 8;
}

.div-form {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div > .kontaktosform {
    width: 700px;
    height: 600px;
    display: grid;
}

div > .kontaktosform > .kontaktosfieldset {
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    gap: 15px 15px;
    grid-template-columns: 220px 220px;
    grid-template-rows: 40px 40px 60px 40px 40px 135px 20px 40px 40px;
    border-radius: var(--border-radius);
    background-color: #817668;
    color: whitesmoke;
    border-color: transparent;
}


.telefonnummer,
.fornavn,
.efternavn,
.beskrivelse {
    border: 0;
}

.telefonnummer,
.fornavn,
.efternavn {
    height: 40px;
    padding: 0;
    margin: 0;
    padding-left: 10px;
    background-color: var(--bg-color);
}

.beskrivelse {
    height: 135px;
    width: 450px;
    padding: 0;
    padding-left: 10px;
}

.telefonnummer {
    width: 450px;
    grid-area: 4 / 1 / 5 / 4;
}

.fornavn,
.efternavn {
    width: 215px;
}

.fornavn {
    grid-area: 5 / 1 / 6 / 2 ;
}

.efternavn {
    grid-area: 5 / 2 / 6 / 3;
}

.beskrivelse {
    grid-area: 6 / 1 / 7 / 3;
}

.ringmigop {
    grid-area: 8 / 1 / 9 / 2;
    background-color: var(--primary-color);
    border: 0;
    border-radius: var(--border-radius);
    color:var(--bg-color);
}

.tilbud {
    grid-area: 2 / 1 / 3 / 2;
    margin: 0;
    color: whitesmoke;
    font-style: italic;
}

.gratistilbud {
    grid-area: 3 / 1 / 4 / 3;  
    margin: 0;
    color: whitesmoke;
    font-style: italic;
    font-weight: 500;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
    color: var(--bg-color);
    text-decoration: none;
}