.om-os-container {
    padding: 75px 10%;
}

.om-os-grid {
    /* position: absolute; */
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    line-height: 0px;
    /* z-index: -5; */
    /* margin: 15px 10%; */
}

.om-os-grid div picture img {
    cursor: pointer;
    border-radius: var(--border-radius);
}

.om-os-hover:hover {
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 5px;
}

#featured picture img {
    /* object-fit: cover; */
    /* height: 100%; */
    /* width: 100%; */
    cursor: initial;
}
picture img {
    width: 100%;
}

/* Gradient with text at bottom of featured image */
.featured-text {
    position: absolute;
    width: 100%;
    /* z-index: 1; */
    bottom: 0px;
    /* background: rgb(242,191,140); */
    /* background: linear-gradient(180deg, rgba(242,191,140,.5) 0%, rgba(0,0,0,1) 100%); */
    background: linear-gradient(180deg, rgba(242,191,140,.5) 0%, rgba(83,74,62,1) 100%);
    /* background: linear-gradient(180deg, rgba(83,74,62,1) 0%, rgba(242,191,140,.5) 100%); */
}
.featured-text h5, .featured-text h4, .featured-text p {
    color: white;
    margin: 10px 10px;
}

#featured {
    position: relative;
}

#featured picture {
    /* background-size: cover; */
    /* background-attachment: fixed; */
    /* position: relative; */
}

.om-os-grid > div {
    /* display: flex; */
}

.om-os-grid > div:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}


@media (max-width: 768px) {
    .om-os-container {
        padding: 0px 1%;
    }
}


@media (max-width: 480px) {
    .om-os-container {
        padding: 75px 1%;
    }

    .om-os-grid > div:nth-of-type(1) {
        grid-column: 1 / 7;
        grid-row: 1 / 5;

}