:root {
    --primary-color: #FF8D1C;
    --secondary-color: #f2bf8c;
    --bg-color: #f8f8f8;
}

/* HEAD */
h1,
h2,
h3,
h4,
h5,
p,
small {
    font-family: ff-tisa-web-pro, serif;
    font-style: normal;
    color: #000000;
}

h1 {
    font-size: 90.44pt;
}

h2 {
    font-size: 64pt;
}

h3 {
    font-size: 45pt;
}

h4 {
    font-size: 32pt;
}

h5 {
    font-size: 23pt;
}

p {
    font-size: 16pt;
}

small {
    font-size: 14pt;
}























































/* Lucas */

.om-os-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    line-height: 0px;
}

.om-os-grid > div {
    display: flex;
}

picture img {
    width: 100%;
}

.om-os-grid > div:nth-of-type(1) {
    grid-column: 1 / 5;
    grid-row: 1 / 5;
}
