:root {
    --primary-color: #FF8D1C;
    --secondary-color: #f2bf8c;
    --bg-color: #f8f8f8;
}

body {
margin: 0;
}
















































































































































































































































/*Christians smukke arbejde ☆⌒(*＾-゜)v*/

.trees {
    width: 100vw;
    height: 100vh;


}

.button {
    display: inline-block;
    font-size: 32pt;
    text-align: center;
    color: #534A3E;
    text-decoration: none;
    padding: 20px;
    background-color: #FF8D1C;
    border-radius: 5px;
}

.button_call_me {
    display: inline-block;
    font-size: 32pt;
    text-align: center;
    color: #534A3E;
    text-decoration: none;
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 5px;
}


/*End of Christians smukke arbejde (っ °Д °;)っ/