:root {
    --primary-color: #FF8D1C;
    --secondary-color: #f2bf8c;
    --main-background: hsl(0, 0%, 17%);
    --secondary-background: #413E3A;
    --bg-color: #f8f8f8;
    --border-radius: 5px;
    --h1-size: 5.65rem;
    --h1-line-height: 0.85;
    --h2-size: 4rem;
    --h3-size: 2.81rem;
    --h3-line-height: 1;
    --h4-size: 2rem;
    --h4-line-height: 0.85;
    --h5-size: 1.43rem;
    --h5-line-height:
    --p-size: 1rem;
    --p-bottom-margin: 1.15rem;
    --small-size: 0.875rem;
}

html {font-size: 100%;} 

h1,
h2,
h3,
h4,
h5,
p,
small {
    font-family: ff-tisa-web-pro, serif;
    font-style: normal;
    font-weight: 400;
    color: #000000;
    line-height: 1.15;
    margin: 2.75rem 0 1.05rem;
}

h1 {
    font-size:var(--h1-size);
}

h2 {
    font-size:var(--h2-size);
}

h3 {
    font-size:var(--h3-size);
}

h4 {
    font-size:var(--h4-size);
}

h5 {
    font-size:var(--h5-size);
}

p {
    font-size:var(--p-size);
}

small {
    font-size:var(--small-size);
}

body {
    background-color: var(--main-background);
}
html {
    scroll-behavior: smooth;
}

























/* Her slutter generelt arbejde opgaven */



















/*Christians smukke arbejde ☆⌒(*＾-゜)v*/

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    color: var(--bg-color);

    display: flex;
    align-items: center;
    justify-content: center;

}

.hero h1, 
.hero h3 {
    color: var(--bg-color);
    margin: 0rem;
}

.hero h3 {
    margin-bottom: 50px;
}

.hero_overlay{
    background: hsla(0, 0%, 0%, .2);
    height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trees {
    width: 100%;
    height: 100vh;
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.button {
    font-size: var(--h5-size);
    text-align: center;
    color: hsl(0, 0%, 17%);
    text-decoration: none;
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 5px;

}

.button_call_me {
    background-color: #f8f8f8;
}

.button:hover {
    background-color: hsl(30, 100%, 65%);
}

.button_call_me:hover {
    background-color: #e2e2e2;

}

nav {
    background-color: var(--primary-color);
    height: 80px;
    text-align: center;
    z-index: 10;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 0 1.5rem;
    font-size: 2rem;
}

nav a {
    color: var(--main-background);
    text-decoration: none;
}

.logo {
    width: 56px;
    position: absolute;
    left: 50px;
    z-index: 110;
}

.facebook {
    width: 32px;
    position: absolute;
    right: 50px;
}

.twitter {
    width: 32px;
    position: absolute;
    right: 100px;
}

@media (prefers-color-scheme: light) {
    :root {
        --main-background: #f8f8f8
    }
}

/*Slut på Christians opgave (っ °Д °;)っ*/








