:root {
    --height-diff: 65%;
}

#slideshow {
    margin: 15px auto;
    width: 1200px;
    max-width: 95%;
    margin-bottom: 100px;
}




.slideLarge {
    width: 100%;
    margin: auto auto;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.slideLarge .slideimgLargeContainer, 
#slideButtons .slideimg_container {
    height: 0;
    padding-bottom: var(--height-diff);
}

.slideLarge .slideLargeContent {
    width: 100%;
    height: 20%;
    box-sizing: border-box;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    background-color: #F2BF8C7f;
}

.slideLarge .slideLargeContent h4,
.slideLarge .slideLargeContent p {
    color: white;
    margin: 0 0 1rem;
}

.slideLarge .slideLargeContent p::before {
    content: "";
    display: inline-block;
    width: 2rem;
}

.slideLarge .slideArrow {
    height: 40px;
    width: 40px;
    padding: 0 8px;
    font-family: inherit;
    font-size: 130%;
    color: #efefefdd;
    position: absolute;
    top: 50%;
    border-radius: 50%;
    border: solid #dfdfdf7f;
    background-color: #66666666;
    transition: padding .1s;
}

.slideLarge .slidePrevious:active {
    padding-right: 11px;
}
.slideLarge .slideNext:active {
    padding-left: 11px;
}

.slideLarge .slidePrevious {left: 3px;}
.slideLarge .slideNext {right: 3px;}




#slideButtons {
    display: flex;
    padding: 0;
    width: 100%;
    height: 250px;
}

#slideButtons .slideItem {
    width: calc((100% - 9.6%) / 7);
    list-style: none;
    margin: 0 .8%;
    overflow-wrap: break-word;
}

#slideButtons .slideItem:first-of-type {margin-left: 0;}
#slideButtons .slideItem:last-of-type {margin-right: 0;}

#slideButtons .slideimg_container {
    box-sizing: border-box;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}

#slideButtons .slideimg_container .slideButton {
    width: 100%;
    cursor: pointer;
    object-fit: cover;
}

#slideButtons .slideimg_container::after {
    content: "";
    border: none;
    transition: border .15s ease-in;
}

#slideButtons .slideimg_container.slideTarget::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    border: 4px solid var(--primary-color);
}

#slideButtons h5 {
    font-size: 1.18rem;
    margin: 1.5rem 0 1rem;
}

#slideButtons p {
    margin: .4rem 0;
}

#slideButtons p::before {
    content: "";
    display: inline-block;
    width: 2rem;
}

.slideItem p {
    color: #f8f8f8;
}