:root {
    --height-diff: 65%;
}

#slideshow {
    margin: 15px auto;
    width: 1100px;
    max-width: 95%;
}

.slideLarge {
    width: 1000px;
    height: 650px;
    margin: auto auto;
    border-radius: var(--border-radius);
    position: relative;
    overflow: hidden;
}

.slideLarge .slideLargeContent {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #F2BF8C7f;
}

.slideLarge .slideLargeContent h4,
.slideLarge .slideLargeContent p {
    color: white;
}

.slideLarge .slideArrow {
    position: absolute;
    top: 50%;
}

.slideLarge .slidePrevious {left: 0;}
.slideLarge .slideNext {right: 0;}



#slideButtons {
    display: flex;
    padding: 0;
    width: 100%;
}

#slideButtons .slideItem {
    width: calc((100% - 120px) / 7);
    list-style: none;
    margin: 0 10px;
}

#slideButtons .slideItem:first-of-type {margin-left: 0;}
#slideButtons .slideItem:last-of-type {margin-right: 0;}

#slideButtons .slideimg_container {
    height: 0;
    padding-bottom: var(--height-diff);
    box-sizing: border-box;
    border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
}

#slideButtons .slideButton {
    width: 100%;
    cursor: pointer;
}

#slideButtons .slideTarget {
    border: 4px solid var(--primary-color);
    padding-bottom: calc(var(--height-diff) - 8px);
}

#slideButtons .slideTarget::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 20px var(--primary-color);
    background-image: linear-gradient(#00000000, var(--primary-color));
    /* background-image: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);; */
    filter: opacity(.8);
}

#slideButtons h5 {
    font-size: 1.18rem;
    margin: 1.5rem 0 1rem;
}

#slideButtons p {
    margin: .4rem 0;
}



/* temporary fixes */
#slideButtons p {
    color: unset;
}